<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/form-header :: header">
    <meta charset="UTF-8">

    <title>Edit Page for Member</title>

</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>회원 정보 수정</h2>
    </div>

    <form action="" th:action th:object="${member}" method="post">
        <input type="hidden" name="_method" value="put" />
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-3" th:unless="${common}">
            <label for="id" class="form-label">회원번호</label>
            <input type="text" class="form-control" id="id" th:field="*{id}" th:errorclass="field-error" readonly>
        </div>

        <div class="mb-3">
            <label for="loginId" class="form-label">회원 ID</label>
            <input type="text" class="form-control" id="loginId" th:field="*{loginId}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="text" class="form-control" id="password" th:field="*{password}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">회원 이름</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="field-error" readonly>
            <div class="field-error" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">이메일 주소</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"
                   th:errorclass="field-error" aria-describedby="emailHelp" readonly>
            <div class="field-error" th:errors="*{email}"></div>
        </div>

        <div class="mb-3" th:unless="${common}">
            <div>권한</div>
            <select th:field="*{role}" class="form-select">
                <option value="">권한 선택 🔻</option>
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn btn-dark btn-lg">수정완료</button>
            </div>
            <div class="col" th:unless="${common}">
                <button type="button" class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/admin/members}'|">
                    취소
                </button>
            </div>
            <div class="col" th:if="${common != null}">
                <button type="button" class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/posts}'|">
                    취소
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->

<div th:replace="fragments/flex-footer :: footer"></div>

</body>
</html>