.login__root {
  width: 30%;
  margin-top: 5%;
  border-radius: 20px;
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
}

.login__text {
  display: flex;
  justify-content: center;
  margin: 45px 0px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}

.login__form input {
  border-color: white;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 20px;
  margin-bottom: 25px;
  width: 90%;
  background-color: transparent;
  color: white;
}

.login__form input::placeholder {
  color: white;
  padding: 0px 10px;
  font-size: 15px;
}

.login__form button {
  margin: 20px;
  border-width: thin;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  font-size: 20px;
  background-color: #3c3c8c;
  color: white;
}

.error__ID,
.error__PW {
  color: red;
}
