.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
  height: 100dvh;
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
  grid-auto-flow: dense;
  justify-items: center;
  margin: 22% 0px;
  padding: 0px 13%;
}
