<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/form-header :: header">
    <meta charset="UTF-8">

    <title>Edit Page for Post</title>

</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 수정</h2>
    </div>

    <form action="" th:action th:object="${posts}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="id" th:value="${posts.id}" />
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}"
                   th:errorclass="field-error" placeholder="게시글 제목을 입력하세요">
            <div class="field-error" th:errors="*{title}"></div>
        </div>

        <div class="mb-3">
            <div>도서 선택</div>
            <select th:field="*{book}" class="form-select">
                <option value="">도서 목록 🔻</option>
                <option th:each="book : ${bookList}" th:value="${book.id}" th:text="${book.title}"
                        th:errorclass="field-error"></option>
            </select>
            <div class="field-error" th:errors="*{book}"></div>
        </div>

        <div class="mb-3 form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile" th:text="${filename}" />
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요<strong>(100MB 제한)</strong></label>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea type="text" id="content" th:field="*{content}"
                      placeholder="문의 사항이 있으면 적어주세요"></textarea>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn btn-dark btn-lg">수정완료</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/posts/{postId}(postId=${id})}'|">
                    취소
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->

<div th:replace="fragments/flex-footer :: footer"></div>

</body>
</html>