<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/sidebars-header :: sidebars">

    <meta charset="UTF-8">
    <title>My Posts Page</title>

</head>
<body>

<div id="back-bar" class="ml-3">
    <a href="/posts">
        <svg width="24" height="24" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
            <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
            <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
        </svg>
    </a>
</div>

<div class="overlay">
    <div class="container">
        <h2 class="text-center mb-4">게시물 목록</h2>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>수정 시간</th>
                <th>처리 결과</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${myPosts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.member.name}"></td>
                <td>
                    <a href="#" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
                </td>
                <td th:text="|${#temporals.format(post.modifiedDate, 'yyyy-MM-dd')} 로부터 최대 1주일 정도 소요될 수 있습니다.|"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/fixed-footer :: footer"></footer>

<script src="/js/event.js"></script>

</body>
</html>