<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">

    <!--Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">

    <title>Rootable Library's Member Page</title>

    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

</head>
<body>

</body>
</html>