<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/loginHeader :: header">
    <meta charset="UTF-8">
    <title>403 Error Page</title>
</head>
<body>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1">🚫</h1>
        <p class="fs-3"> <span class="text-danger">접근이 거부됨!</span></p>
        <p class="lead">
            이 페이지에 대한 권한이 없습니다.
        </p>
        <button class="btn btn-lg fw-bold btn-dark"
                th:onclick="|location.href='@{/}'|">홈 화면으로</button>
    </div>
</div>

</body>
</html>