<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/form-header :: header">
    <meta charset="UTF-8">
    <title>File Exceeds Error Page</title>
</head>
<body>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1">🚫</h1>
        <p class="fs-3"> <span class="text-danger">빈 파일 오류</span></p>
        <p class="lead">
            파일을 등록한 후 등록 버튼을 눌러주세요.
        </p>
        <button class="btn btn-lg fw-bold btn-dark"
                th:onclick="|location.href='@{/posts/{postId}/edit(postId=${postId})}'|">돌아가기</button>
    </div>
</div>

</body>
</html>