<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/cover :: header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Examples-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">

    <title>Welcome!!</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Rootable Library</h3>
        </div>
    </header>

    <main class="px-3">
        <h1>편리한 도서 신청 서비스를 </br>지금 </br>이용해보세요!</h1>
        <p class="lead">서비스 이용을 위해 </br>회원가입 또는 로그인이 필요합니다.</p>
        <p class="lead">
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" type="button"
                    th:onclick="|location.href='@{/members/add}'|">회원가입</button>
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" type="button"
                    th:onclick="|location.href='@{/login}'|">로그인</button>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Developed by <a href="#" class="text-white">Joo Young, Kim</a>, <p class="text-white">Ver.2022V1</p>.</p>
    </footer>

</div>

</body>
</html>
