<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/postHeader :: header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Examples-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">

    <title>Welcome!!</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Rootable Library</h3>
        </div>
    </header>

    <main class="px-3">
        <h1 th:text="|반갑습니다! ${member.name} 회원님|">로그인한 회원 이름</h1>
        <p class="lead">메인 페이지에서 </br>서비스를 이용할 수 있습니다.</p>
        <p class="lead">
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" type="button"
                    th:onclick="|location.href='@{/posts}'|">메인으로</button>
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" type="button"
                    th:onclick="|location.href='@{/logout}'|">로그아웃</button>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Developed by <a href="#" class="text-white">Joo Young, Kim</a>, <p class="text-white">Ver.2022V1</p>.</p>
    </footer>

</div>

</body>
</html>
